body{
    background-color: crimson;
}

h1{
    color: chartreuse;
    background-color: darkturquoise;
}

#show_sketch{
    float: right;
    width: 30px;
    height: 30px;
}

p{
    padding-top: 10px;
    font-size: 25px;
}

canvas {
    border: 5px solid orangered;
    border-radius: 20px;
    margin-top: 100px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 10px 10px 5px red;}
    to{box-shadow: 10px 10px 5px blue;}
}